Node-RED-flow/flows.json
[
    {
        "id": "78e87a53dc54c282",
        "type": "tab",
        "label": "mpc-tss-trial-flexdash",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7ad4673449f588d3",
        "type": "group",
        "z": "78e87a53dc54c282",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d40f16f7825aedd9",
            "1c7af81492ab1031",
            "773c0df664613916",
            "39c2e675402ac20f",
            "dbf2e6edfd4e5ad4",
            "ea942bac94d5f3fe",
            "53ef82cfe795d9ec",
            "0fdb9cdf50e5722a",
            "c1cc3aa66d91026b",
            "4beee80dacbfa634",
            "228502997ff34175",
            "1db41e29a1ad8a63",
            "08cb547ccb9e679f",
            "0ecf7d367d023a2a",
            "3b2a455a4cfe6e8b",
            "58f0d967d7808bb8",
            "b980b20be9037f60",
            "fe147f66fea730ba",
            "cc86530586bf0243",
            "3180c0847b87f801",
            "f80db642637ced35",
            "3837fab492a2444a",
            "199128b6c53fb242",
            "f637e78e37183385",
            "718217e28051c3cc",
            "4ddc01f78a59cb14",
            "d36310164f29665e",
            "6b14a5afe2f8745d",
            "50bfd65e2f2f1fe3",
            "d5fc4c11dfbedb40",
            "4d67358d87730cca",
            "41214208254c7a48",
            "0ee16d74d17ab2a4",
            "0970648e6f8c167f",
            "6456fc89208039cd",
            "d0c5787765ce4d7f",
            "eb74f3b0c38654c1",
            "bd169e87f4987010",
            "842df40a404728a6",
            "f6045d6b5e8a9d27",
            "2e07524498ce16b9",
            "7ed691540aae3307",
            "4771e7833d93de37",
            "8af2ad57a22cbdae",
            "a71579a20eeca9ee",
            "d487f54d623ab8f3",
            "96d5d39413cc487d"
        ],
        "x": 14,
        "y": 1019,
        "w": 1492,
        "h": 762
    },
    {
        "id": "66b98e18861aa2ce",
        "type": "group",
        "z": "78e87a53dc54c282",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b9abed047acaa0d2",
            "4f41750d7e09db7a",
            "eb91e1b1b7d29a6b",
            "126dd97e4d565ac1",
            "af80d51f82071516",
            "997da7d0950baead",
            "54a7ee2e49d4d72c",
            "05965f13ce9238bb",
            "9defd46fdf86b9c3",
            "70ffbb8dfb44bfaf",
            "c697f76531ee2eea",
            "30a9f3ef2558dfb5",
            "b6f0f2cd56211a4a"
        ],
        "x": 14,
        "y": 1819,
        "w": 852,
        "h": 390.666748046875
    },
    {
        "id": "98ca0d7de880cf3d",
        "type": "group",
        "z": "78e87a53dc54c282",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "dedef0852661d58f",
            "3f5fcff4e03feeec",
            "b5cc00f6eff9e0a5",
            "80eef4c3e159d23c",
            "6f9cc97481078329",
            "ec0daaf737113151",
            "60381ff725c85a82",
            "1b39fb0e6c68c026",
            "9cda50e998f05a3f",
            "a9c2528f6e3f1dd2",
            "085d01496ffe2681",
            "90560e3b9a802dd2",
            "9fd033057daee3f5",
            "27111623fcb22ff8",
            "3e73639248c631b4",
            "a84bf8f06c21aa35",
            "c396833a74617a24"
        ],
        "x": 10.666671752929688,
        "y": 502.3333148956299,
        "w": 832,
        "h": 482
    },
    {
        "id": "ef4ab775926fc4f6",
        "type": "group",
        "z": "78e87a53dc54c282",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9e3763bb4550c3b2",
            "6e17f85023319006",
            "4139e8b33cbcc5aa",
            "2b4a593b2a5d2125",
            "5015e7ce00b0b1de",
            "11cfca6eb8ddbd20",
            "da99607af085ae19",
            "43d56c19a72f40f6",
            "36b3cab716113dc1",
            "a75c7c193322dd3f"
        ],
        "x": 914,
        "y": 319,
        "w": 692,
        "h": 262
    },
    {
        "id": "de63834e9e784ee4",
        "type": "group",
        "z": "78e87a53dc54c282",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4af00c1a0cae5306",
            "c7a2130e766ff25e",
            "272e0b5efbbdab5c",
            "254882f2d66d5671",
            "d105b85211fa06e3",
            "e1cefc1804b9c958",
            "415b3bd72fc0467d",
            "273140cf78dda6f9"
        ],
        "x": 914,
        "y": 19,
        "w": 632,
        "h": 262
    },
    {
        "id": "f561b36c3ad24bbb",
        "type": "group",
        "z": "78e87a53dc54c282",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "24878189ca533a35",
            "a4cfb296dcc3967a",
            "2a19fd29483025fd",
            "09d44cf9b98cd8c2",
            "9a6ac8a633244e3c",
            "d862264623e7939d",
            "2fc9f9ded8acca2c",
            "dd46d187bcb55aa3",
            "bd29a1d3eeb17649",
            "6aa812f16ead0790",
            "557535f5194faee2",
            "7bddf774cebdf6eb",
            "12813db077718ebc",
            "8587581cf97d9995",
            "5b369abd2a5da048",
            "438c4bd1532c8bd7"
        ],
        "x": 14,
        "y": 19,
        "w": 852,
        "h": 462
    },
    {
        "id": "24878189ca533a35",
        "type": "http in",
        "z": "78e87a53dc54c282",
        "g": "f561b36c3ad24bbb",
        "name": "",
        "url": "/mpc/send",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "2fc9f9ded8acca2c",
                "7bddf774cebdf6eb",
                "12813db077718ebc",
                "438c4bd1532c8bd7"
            ]
        ]
    },
    {
        "id": "a4cfb296dcc3967a",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "f561b36c3ad24bbb",
        "name": "Store Message",
        "func": "// フローにキューを保持\nlet queues = flow.get(\"queues\") || {};\n\nlet msgBody = msg.payload;\nlet dest = msgBody.dest;\n\nif(!queues[dest]){\n    queues[dest] = [];\n}\nqueues[dest].push(msgBody);\nflow.set(\"queues\", queues);\n\nmsg.payload = {status: \"ok\"};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 120,
        "wires": [
            [
                "5b369abd2a5da048"
            ]
        ]
    },
    {
        "id": "5b369abd2a5da048",
        "type": "http response",
        "z": "78e87a53dc54c282",
        "g": "f561b36c3ad24bbb",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "2a19fd29483025fd",
        "type": "http in",
        "z": "78e87a53dc54c282",
        "g": "f561b36c3ad24bbb",
        "name": "",
        "url": "/mpc/recv/:party_id",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "09d44cf9b98cd8c2",
                "d862264623e7939d"
            ]
        ]
    },
    {
        "id": "09d44cf9b98cd8c2",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "f561b36c3ad24bbb",
        "name": "Retrieve Messages",
        "func": "let queues = flow.get(\"queues\") || {};\nlet party_id = msg.req.params.party_id;\n\nlet msgs = queues[party_id] || [];\n// queues[party_id] = [];\n// flow.set(\"queues\", queues);\n\nmsg.payload = msgs;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "9a6ac8a633244e3c"
            ]
        ]
    },
    {
        "id": "9a6ac8a633244e3c",
        "type": "http response",
        "z": "78e87a53dc54c282",
        "g": "f561b36c3ad24bbb",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "d862264623e7939d",
        "type": "debug",
        "z": "78e87a53dc54c282",
        "g": "f561b36c3ad24bbb",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 340,
        "wires": []
    },
    {
        "id": "2fc9f9ded8acca2c",
        "type": "debug",
        "z": "78e87a53dc54c282",
        "g": "f561b36c3ad24bbb",
        "name": "debug 30",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 160,
        "wires": []
    },
    {
        "id": "dedef0852661d58f",
        "type": "inject",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "name": "keygen開始",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "3f5fcff4e03feeec",
                "80eef4c3e159d23c",
                "6f9cc97481078329",
                "085d01496ffe2681"
            ]
        ]
    },
    {
        "id": "3f5fcff4e03feeec",
        "type": "http request",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "name": "http://localhost:8081/mpc/keygen",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8081/mpc/keygen",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 460,
        "y": 600,
        "wires": [
            [
                "b5cc00f6eff9e0a5"
            ]
        ]
    },
    {
        "id": "b5cc00f6eff9e0a5",
        "type": "debug",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 640,
        "wires": []
    },
    {
        "id": "80eef4c3e159d23c",
        "type": "http request",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "name": "http://localhost:8082/mpc/keygen",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/mpc/keygen",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 460,
        "y": 640,
        "wires": [
            [
                "b5cc00f6eff9e0a5"
            ]
        ]
    },
    {
        "id": "6f9cc97481078329",
        "type": "http request",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "name": "http://localhost:8083/mpc/keygen",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8083/mpc/keygen",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 460,
        "y": 680,
        "wires": [
            [
                "b5cc00f6eff9e0a5"
            ]
        ]
    },
    {
        "id": "ec0daaf737113151",
        "type": "http in",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "name": "",
        "url": "/mpc/keygen_result",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 206.6666717529297,
        "y": 783.3333148956299,
        "wires": [
            [
                "60381ff725c85a82",
                "9cda50e998f05a3f",
                "a84bf8f06c21aa35"
            ]
        ]
    },
    {
        "id": "60381ff725c85a82",
        "type": "http response",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 436.6666717529297,
        "y": 783.3333148956299,
        "wires": []
    },
    {
        "id": "1b39fb0e6c68c026",
        "type": "debug",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 636.6666717529297,
        "y": 823.3333148956299,
        "wires": []
    },
    {
        "id": "3b2a455a4cfe6e8b",
        "type": "inject",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "1と2で署名",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1100,
        "wires": [
            [
                "41214208254c7a48"
            ]
        ]
    },
    {
        "id": "228502997ff34175",
        "type": "http request",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "http://localhost:8081/mpc/sign",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8081/mpc/sign",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 1180,
        "wires": [
            [
                "cc86530586bf0243"
            ]
        ]
    },
    {
        "id": "cc86530586bf0243",
        "type": "debug",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1220,
        "wires": []
    },
    {
        "id": "08cb547ccb9e679f",
        "type": "http request",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "http://localhost:8082/mpc/sign",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/mpc/sign",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 1220,
        "wires": [
            [
                "cc86530586bf0243"
            ]
        ]
    },
    {
        "id": "0ecf7d367d023a2a",
        "type": "http request",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "http://localhost:8083/mpc/sign",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8083/mpc/sign",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 1260,
        "wires": [
            [
                "cc86530586bf0243"
            ]
        ]
    },
    {
        "id": "3180c0847b87f801",
        "type": "inject",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "2と3で署名",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1180,
        "wires": [
            [
                "0ee16d74d17ab2a4"
            ]
        ]
    },
    {
        "id": "b980b20be9037f60",
        "type": "inject",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "1と3で署名",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1260,
        "wires": [
            [
                "0970648e6f8c167f"
            ]
        ]
    },
    {
        "id": "53ef82cfe795d9ec",
        "type": "inject",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "全員で署名",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1340,
        "wires": [
            [
                "6456fc89208039cd"
            ]
        ]
    },
    {
        "id": "d40f16f7825aedd9",
        "type": "http in",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "",
        "url": "/mpc/sign_result",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 1440,
        "wires": [
            [
                "1c7af81492ab1031",
                "773c0df664613916",
                "bd169e87f4987010",
                "7ed691540aae3307"
            ]
        ]
    },
    {
        "id": "1c7af81492ab1031",
        "type": "http response",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 440,
        "y": 1440,
        "wires": []
    },
    {
        "id": "dd46d187bcb55aa3",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "f561b36c3ad24bbb",
        "name": "queues clear",
        "func": "flow.set('queues', { 'co_signer1': [], 'co_signer2': [], 'co_signer3': [] });\nflow.set('table', []);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 400,
        "wires": [
            [
                "bd29a1d3eeb17649"
            ]
        ]
    },
    {
        "id": "bd29a1d3eeb17649",
        "type": "debug",
        "z": "78e87a53dc54c282",
        "g": "f561b36c3ad24bbb",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "6aa812f16ead0790",
        "type": "inject",
        "z": "78e87a53dc54c282",
        "g": "f561b36c3ad24bbb",
        "name": "queues clear",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "dd46d187bcb55aa3"
            ]
        ]
    },
    {
        "id": "9cda50e998f05a3f",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "name": "pubkey格納",
        "rules": [
            {
                "t": "set",
                "p": "pubX",
                "pt": "flow",
                "to": "payload.public_key.x",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "pubY",
                "pt": "flow",
                "to": "payload.public_key.y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 446.6666717529297,
        "y": 823.3333148956299,
        "wires": [
            [
                "1b39fb0e6c68c026",
                "90560e3b9a802dd2"
            ]
        ]
    },
    {
        "id": "0fdb9cdf50e5722a",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "co_signer1",
        "func": "msg.payload.party_id = \"co_signer1\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1180,
        "wires": [
            [
                "228502997ff34175",
                "1db41e29a1ad8a63"
            ]
        ]
    },
    {
        "id": "c1cc3aa66d91026b",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "co_signer2",
        "func": "msg.payload.party_id = \"co_signer2\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1220,
        "wires": [
            [
                "08cb547ccb9e679f",
                "1db41e29a1ad8a63"
            ]
        ]
    },
    {
        "id": "4beee80dacbfa634",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "co_signer3",
        "func": "msg.payload.party_id = \"co_signer3\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1260,
        "wires": [
            [
                "0ecf7d367d023a2a",
                "1db41e29a1ad8a63"
            ]
        ]
    },
    {
        "id": "b9abed047acaa0d2",
        "type": "http request",
        "z": "78e87a53dc54c282",
        "g": "66b98e18861aa2ce",
        "name": "http://localhost:8081/mpc/refresh",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8081/mpc/refresh",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "4f41750d7e09db7a",
        "type": "inject",
        "z": "78e87a53dc54c282",
        "g": "66b98e18861aa2ce",
        "name": "refresh by All",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"participants\":[\"co_signer1\",\"co_signer2\",\"co_signer3\"]}",
        "payloadType": "json",
        "x": 170,
        "y": 1940,
        "wires": [
            [
                "c697f76531ee2eea",
                "b6f0f2cd56211a4a"
            ]
        ]
    },
    {
        "id": "eb91e1b1b7d29a6b",
        "type": "http request",
        "z": "78e87a53dc54c282",
        "g": "66b98e18861aa2ce",
        "name": "http://localhost:8082/mpc/refresh",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/mpc/refresh",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "126dd97e4d565ac1",
        "type": "http request",
        "z": "78e87a53dc54c282",
        "g": "66b98e18861aa2ce",
        "name": "http://localhost:8083/mpc/refresh",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8083/mpc/refresh",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "557535f5194faee2",
        "type": "comment",
        "z": "78e87a53dc54c282",
        "g": "f561b36c3ad24bbb",
        "name": "メッセージ連携",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "a9c2528f6e3f1dd2",
        "type": "comment",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "name": "keygen",
        "info": "",
        "x": 86.66667175292969,
        "y": 543.3333148956299,
        "wires": []
    },
    {
        "id": "3837fab492a2444a",
        "type": "comment",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "sign",
        "info": "",
        "x": 90,
        "y": 1060,
        "wires": []
    },
    {
        "id": "af80d51f82071516",
        "type": "comment",
        "z": "78e87a53dc54c282",
        "g": "66b98e18861aa2ce",
        "name": "refresh",
        "info": "",
        "x": 90,
        "y": 1860,
        "wires": []
    },
    {
        "id": "c7a2130e766ff25e",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "de63834e9e784ee4",
        "name": "broadcastとp2pを分ける",
        "func": "let data = msg.payload;\n\nlet rows = [];\n\nlet bc = data.bc ? data.bc.slice(0,16) + \"...\" : null;\nlet p2p = data.p2p ? data.p2p.slice(0,16) + \"...\" : null;\n\n// bc がある場合\nif (bc) {\n    rows.push({\n        round: data.round,\n        src: data.src,\n        dest: data.dest,\n        type: \"broadcast\",\n        data: bc\n    });\n}\n\n// p2p がある場合\nif (p2p) {\n    rows.push({\n        round: data.round,\n        src: data.src,\n        dest: data.dest,\n        type: \"p2p\",\n        data: p2p\n    });\n}\n\nmsg.payload = rows;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 120,
        "wires": [
            [
                "272e0b5efbbdab5c"
            ]
        ]
    },
    {
        "id": "272e0b5efbbdab5c",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "de63834e9e784ee4",
        "name": "表示用table更新",
        "func": "let table = flow.get(\"table\") || [];\n\ntable = table.concat(msg.payload);\n\nif (table.length > 100) {\n    table = table.slice(-100);\n}\n\nflow.set(\"table\", table);\n\nmsg.payload = table;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 160,
        "wires": [
            [
                "254882f2d66d5671",
                "d105b85211fa06e3"
            ]
        ]
    },
    {
        "id": "d105b85211fa06e3",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "de63834e9e784ee4",
        "name": "最新イベント抽出",
        "func": "let table = msg.payload;\n\nif (table.length === 0) return null;\n\n// 最新イベント\nlet last = table[table.length - 1];\n\nmsg.payload = {\n    src: last.src,\n    dest: last.dest,\n    type: last.type\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 200,
        "wires": [
            [
                "e1cefc1804b9c958"
            ]
        ]
    },
    {
        "id": "e1cefc1804b9c958",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "de63834e9e784ee4",
        "name": "グラフ表示データに整形",
        "func": "let e = msg.payload;\n\nmsg.payload = {\n    nodes: [\n        {id: \"co_signer1\", label: \"co_signer1\"},\n        {id: \"co_signer2\", label: \"co_signer2\"},\n        {id: \"co_signer3\", label: \"co_signer3\"}\n    ],\n    edges: [\n        {\n            from: e.src,\n            to: e.dest,\n            color: e.type === \"broadcast\" ? \"orange\" : \"cyan\",\n            width: 4\n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 240,
        "wires": [
            [
                "415b3bd72fc0467d"
            ]
        ]
    },
    {
        "id": "415b3bd72fc0467d",
        "type": "flexdash custom",
        "z": "78e87a53dc54c282",
        "g": "de63834e9e784ee4",
        "sfc_source": "<template>\n  <div ref=\"network\" style=\"width:100%;height:400px\"></div>\n</template>\n\n<script>\n  export default {\n\n  props:{\n    payload:{default:null}\n  },\n\n  mounted(){\n\n    const script=document.createElement(\"script\")\n    script.src=\"https://unpkg.com/vis-network/standalone/umd/vis-network.min.js\"\n\n    script.onload=()=>{\n\n      // 最初からノード表示\n      this.nodes=new vis.DataSet([\n        {\n          id:\"co_signer1\",\n          label:\"co_signer1\",\n          x:0,\n          y:-120,\n          fixed:{x:true,y:true}\n        },\n        {\n          id:\"co_signer2\",\n          label:\"co_signer2\",\n          x:-140,\n          y:80,\n          fixed:{x:true,y:true}\n        },\n        {\n          id:\"co_signer3\",\n          label:\"co_signer3\",\n          x:140,\n          y:80,\n          fixed:{x:true,y:true}\n        }\n      ])\n\n      this.edges=new vis.DataSet([])\n\n      this.network=new vis.Network(\n        this.$refs.network,\n        {\n          nodes:this.nodes,\n          edges:this.edges\n        },\n        {\n          physics:{enabled:false},\n\n          layout:{\n            improvedLayout:false\n          },\n\n          nodes:{\n            shape:\"dot\",\n            size:28,\n            borderWidth:3,\n            font:{size:16}\n          },\n\n          edges:{\n            arrows:{to:{enabled:true}},\n            smooth:false,\n            width:4\n          }\n        }\n      )\n\n    }\n\n    document.head.appendChild(script)\n\n  },\n\n  watch:{\n\n    payload(data){\n\n      if(!data) return\n\n      if(data.edges){\n\n        // 最新通信のみ\n        this.edges.clear()\n\n        const edges=data.edges.map(e=>({\n          ...e,\n          arrows:\"to\"\n        }))\n\n        this.edges.update(edges)\n\n      }\n\n    }\n\n  }\n\n}\n</script>\n\n",
        "fd_container": "07754d0209ed5794",
        "fd_cols": 3,
        "fd_rows": 5,
        "fd_array": false,
        "fd_array_max": 10,
        "x": 1440,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7bddf774cebdf6eb",
        "type": "delay",
        "z": "78e87a53dc54c282",
        "g": "f561b36c3ad24bbb",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 120,
        "wires": [
            [
                "a4cfb296dcc3967a"
            ]
        ]
    },
    {
        "id": "9e3763bb4550c3b2",
        "type": "inject",
        "z": "78e87a53dc54c282",
        "g": "ef4ab775926fc4f6",
        "name": "1秒間隔で実行",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1080,
        "y": 460,
        "wires": [
            [
                "2b4a593b2a5d2125",
                "5015e7ce00b0b1de",
                "11cfca6eb8ddbd20"
            ]
        ]
    },
    {
        "id": "6e17f85023319006",
        "type": "inject",
        "z": "78e87a53dc54c282",
        "g": "ef4ab775926fc4f6",
        "name": "最初に１回実行",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1080,
        "y": 400,
        "wires": [
            [
                "4139e8b33cbcc5aa"
            ]
        ]
    },
    {
        "id": "4139e8b33cbcc5aa",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "ef4ab775926fc4f6",
        "name": "status更新 IDLE",
        "rules": [
            {
                "t": "set",
                "p": "status.co_signer1",
                "pt": "flow",
                "to": "IDLE",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "status.co_signer2",
                "pt": "flow",
                "to": "IDLE",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "status.co_signer3",
                "pt": "flow",
                "to": "IDLE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2b4a593b2a5d2125",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "ef4ab775926fc4f6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status.co_signer1",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 460,
        "wires": [
            [
                "da99607af085ae19"
            ]
        ]
    },
    {
        "id": "5015e7ce00b0b1de",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "ef4ab775926fc4f6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status.co_signer2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 500,
        "wires": [
            [
                "43d56c19a72f40f6"
            ]
        ]
    },
    {
        "id": "11cfca6eb8ddbd20",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "ef4ab775926fc4f6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status.co_signer3",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 540,
        "wires": [
            [
                "36b3cab716113dc1"
            ]
        ]
    },
    {
        "id": "085d01496ffe2681",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "name": "status更新 keygen: start",
        "rules": [
            {
                "t": "set",
                "p": "status.co_signer1",
                "pt": "flow",
                "to": "keygen: start",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "status.co_signer2",
                "pt": "flow",
                "to": "keygen: start",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "status.co_signer3",
                "pt": "flow",
                "to": "keygen: start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 426.6666717529297,
        "y": 723.3333148956299,
        "wires": [
            []
        ]
    },
    {
        "id": "90560e3b9a802dd2",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "name": "status更新 keygen: success",
        "rules": [
            {
                "t": "set",
                "p": "status[msg.payload.party_id]",
                "pt": "flow",
                "to": "keygen: success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 696.6666717529297,
        "y": 863.3333148956299,
        "wires": [
            [
                "27111623fcb22ff8"
            ]
        ]
    },
    {
        "id": "12813db077718ebc",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "f561b36c3ad24bbb",
        "name": "status更新 ラウンド数",
        "rules": [
            {
                "t": "set",
                "p": "status[msg.payload.src]",
                "pt": "flow",
                "to": "\"round: \" & payload.round",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1db41e29a1ad8a63",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "status更新 sign: start",
        "rules": [
            {
                "t": "set",
                "p": "status[msg.payload.party_id]",
                "pt": "flow",
                "to": "sign: start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "773c0df664613916",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "status更新 sign: success",
        "rules": [
            {
                "t": "set",
                "p": "status[msg.payload.party_id]",
                "pt": "flow",
                "to": "sign: success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1520,
        "wires": [
            [
                "39c2e675402ac20f"
            ]
        ]
    },
    {
        "id": "27111623fcb22ff8",
        "type": "delay",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 676.6666717529297,
        "y": 903.3333148956299,
        "wires": [
            [
                "3e73639248c631b4"
            ]
        ]
    },
    {
        "id": "3e73639248c631b4",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "name": "status更新 IDLE",
        "rules": [
            {
                "t": "set",
                "p": "status[msg.payload.party_id]",
                "pt": "flow",
                "to": "IDLE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 736.6666717529297,
        "y": 943.3333148956299,
        "wires": [
            []
        ]
    },
    {
        "id": "39c2e675402ac20f",
        "type": "delay",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 1560,
        "wires": [
            [
                "dbf2e6edfd4e5ad4"
            ]
        ]
    },
    {
        "id": "dbf2e6edfd4e5ad4",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "status更新 IDLE",
        "rules": [
            {
                "t": "set",
                "p": "status[msg.payload.party_id]",
                "pt": "flow",
                "to": "IDLE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "997da7d0950baead",
        "type": "http in",
        "z": "78e87a53dc54c282",
        "g": "66b98e18861aa2ce",
        "name": "",
        "url": "/mpc/refresh_result",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 205,
        "y": 2046.6667156219482,
        "wires": [
            [
                "54a7ee2e49d4d72c",
                "05965f13ce9238bb"
            ]
        ]
    },
    {
        "id": "54a7ee2e49d4d72c",
        "type": "http response",
        "z": "78e87a53dc54c282",
        "g": "66b98e18861aa2ce",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 435,
        "y": 2048.666748046875,
        "wires": []
    },
    {
        "id": "05965f13ce9238bb",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "66b98e18861aa2ce",
        "name": "status更新 refresh: success",
        "rules": [
            {
                "t": "set",
                "p": "status[msg.payload.party_id]",
                "pt": "flow",
                "to": "refresh: success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 495,
        "y": 2088.666748046875,
        "wires": [
            [
                "9defd46fdf86b9c3"
            ]
        ]
    },
    {
        "id": "9defd46fdf86b9c3",
        "type": "delay",
        "z": "78e87a53dc54c282",
        "g": "66b98e18861aa2ce",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 475,
        "y": 2128.666748046875,
        "wires": [
            [
                "70ffbb8dfb44bfaf"
            ]
        ]
    },
    {
        "id": "70ffbb8dfb44bfaf",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "66b98e18861aa2ce",
        "name": "status更新 IDLE",
        "rules": [
            {
                "t": "set",
                "p": "status[msg.payload.party_id]",
                "pt": "flow",
                "to": "IDLE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 535,
        "y": 2168.666748046875,
        "wires": [
            []
        ]
    },
    {
        "id": "c697f76531ee2eea",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "66b98e18861aa2ce",
        "name": "status更新 refresh: start",
        "rules": [
            {
                "t": "set",
                "p": "status.co_signer1",
                "pt": "flow",
                "to": "refresh: start",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "status.co_signer2",
                "pt": "flow",
                "to": "refresh: start",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "status.co_signer3",
                "pt": "flow",
                "to": "refresh: start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "b6f0f2cd56211a4a",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "66b98e18861aa2ce",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"participants\":[\"co_signer1\",\"co_signer2\",\"co_signer3\"]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1940,
        "wires": [
            [
                "b9abed047acaa0d2",
                "eb91e1b1b7d29a6b",
                "126dd97e4d565ac1"
            ]
        ]
    },
    {
        "id": "a75c7c193322dd3f",
        "type": "comment",
        "z": "78e87a53dc54c282",
        "g": "ef4ab775926fc4f6",
        "name": "status表示",
        "info": "",
        "x": 1000,
        "y": 360,
        "wires": []
    },
    {
        "id": "4af00c1a0cae5306",
        "type": "comment",
        "z": "78e87a53dc54c282",
        "g": "de63834e9e784ee4",
        "name": "ダッシュボード表示",
        "info": "",
        "x": 1030,
        "y": 60,
        "wires": []
    },
    {
        "id": "438c4bd1532c8bd7",
        "type": "link out",
        "z": "78e87a53dc54c282",
        "g": "f561b36c3ad24bbb",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "273140cf78dda6f9"
        ],
        "x": 335,
        "y": 240,
        "wires": []
    },
    {
        "id": "273140cf78dda6f9",
        "type": "link in",
        "z": "78e87a53dc54c282",
        "g": "de63834e9e784ee4",
        "name": "link in 1",
        "links": [
            "438c4bd1532c8bd7"
        ],
        "x": 975,
        "y": 120,
        "wires": [
            [
                "c7a2130e766ff25e"
            ]
        ]
    },
    {
        "id": "f637e78e37183385",
        "type": "http in",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "",
        "url": "/upload",
        "method": "post",
        "upload": true,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 870,
        "y": 1520,
        "wires": [
            [
                "d5fc4c11dfbedb40"
            ]
        ]
    },
    {
        "id": "718217e28051c3cc",
        "type": "http response",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1280,
        "y": 1580,
        "wires": []
    },
    {
        "id": "4ddc01f78a59cb14",
        "type": "http in",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "",
        "url": "/upload-ui",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 880,
        "y": 1480,
        "wires": [
            [
                "199128b6c53fb242"
            ]
        ]
    },
    {
        "id": "d36310164f29665e",
        "type": "http response",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1280,
        "y": 1480,
        "wires": []
    },
    {
        "id": "50bfd65e2f2f1fe3",
        "type": "debug",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 1520,
        "wires": []
    },
    {
        "id": "199128b6c53fb242",
        "type": "template",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "upload画面",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<body>\n    <b>署名するファイルのアップロード</b><br>\n    <form action=\"/upload\" method=\"post\" enctype=\"multipart/form-data\">\n        <input type=\"file\" name=\"file\" />\n        <br><br>\n        <input type=\"submit\" value=\"Upload\" />\n    </form>\n</body>\n\n</html>",
        "output": "str",
        "x": 1070,
        "y": 1480,
        "wires": [
            [
                "d36310164f29665e"
            ]
        ]
    },
    {
        "id": "d5fc4c11dfbedb40",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "uploadデータをフロー変数に保存",
        "rules": [
            {
                "t": "set",
                "p": "originalData",
                "pt": "flow",
                "to": "req.files[0].buffer",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "originalName",
                "pt": "flow",
                "to": "req.files[0].originalname",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 1520,
        "wires": [
            [
                "4d67358d87730cca",
                "50bfd65e2f2f1fe3"
            ]
        ]
    },
    {
        "id": "4d67358d87730cca",
        "type": "template",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "upload済画面",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<body>\n<b>署名するファイルのアップロード</b><br>\nアップロード済（{{flow.originalName}}）<br>\n<br>\n<a href=\"/upload-ui\">戻る</a>\n</body>\n\n</html>",
        "output": "str",
        "x": 1080,
        "y": 1580,
        "wires": [
            [
                "718217e28051c3cc"
            ]
        ]
    },
    {
        "id": "41214208254c7a48",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "1 & 2",
        "func": "// const crypto = require('crypto');\n\nconst originalData = flow.get(\"originalData\");\n\n// 2. 元データのハッシュを計算する\nconst msgHash = crypto.createHash('sha256').update(originalData).digest('hex');\n\nmsg.payload = {\n    hash: msgHash,\n    participants: [\"co_signer1\", \"co_signer2\"]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 350,
        "y": 1120,
        "wires": [
            [
                "0fdb9cdf50e5722a",
                "c1cc3aa66d91026b"
            ]
        ]
    },
    {
        "id": "0ee16d74d17ab2a4",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "2 & 3",
        "func": "// const crypto = require('crypto');\n\nconst originalData = flow.get(\"originalData\");\n\n// 2. 元データのハッシュを計算する\nconst msgHash = crypto.createHash('sha256').update(originalData).digest('hex');\n\nmsg.payload = {\n    hash: msgHash,\n    participants: [\"co_signer2\", \"co_signer3\"]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 350,
        "y": 1200,
        "wires": [
            [
                "c1cc3aa66d91026b",
                "4beee80dacbfa634"
            ]
        ]
    },
    {
        "id": "0970648e6f8c167f",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "1 & 3",
        "func": "// const crypto = require('crypto');\n\nconst originalData = flow.get(\"originalData\");\n\n// 2. 元データのハッシュを計算する\nconst msgHash = crypto.createHash('sha256').update(originalData).digest('hex');\n\nmsg.payload = {\n    hash: msgHash,\n    participants: [\"co_signer1\", \"co_signer3\"]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 350,
        "y": 1280,
        "wires": [
            [
                "0fdb9cdf50e5722a",
                "4beee80dacbfa634"
            ]
        ]
    },
    {
        "id": "6456fc89208039cd",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "全員",
        "func": "// const crypto = require('crypto');\n\nconst originalData = flow.get(\"originalData\");\n\n// 2. 元データのハッシュを計算する\nconst msgHash = crypto.createHash('sha256').update(originalData).digest('hex');\n\nmsg.payload = {\n    hash: msgHash,\n    participants: [\"co_signer1\", \"co_signer2\", \"co_signer3\"]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 350,
        "y": 1360,
        "wires": [
            [
                "0fdb9cdf50e5722a",
                "c1cc3aa66d91026b",
                "4beee80dacbfa634"
            ]
        ]
    },
    {
        "id": "6b14a5afe2f8745d",
        "type": "fd-iframe",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "fd_container": "3c1736edec4719b4",
        "fd_cols": "7",
        "fd_rows": "2",
        "fd_array": false,
        "fd_array_max": 10,
        "name": "upload画面",
        "title": "upload画面",
        "popup_info": "",
        "url": "http://localhost:1880/upload-ui",
        "x": 870,
        "y": 1440,
        "wires": []
    },
    {
        "id": "da99607af085ae19",
        "type": "fd-markdown",
        "z": "78e87a53dc54c282",
        "g": "ef4ab775926fc4f6",
        "fd_container": "07754d0209ed5794",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "co_signer1",
        "title": "co_signer1",
        "popup_info": "",
        "text": "",
        "x": 1510,
        "y": 460,
        "wires": []
    },
    {
        "id": "43d56c19a72f40f6",
        "type": "fd-markdown",
        "z": "78e87a53dc54c282",
        "g": "ef4ab775926fc4f6",
        "fd_container": "07754d0209ed5794",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "co_signer2",
        "title": "co_signer2",
        "popup_info": "",
        "text": "",
        "x": 1510,
        "y": 500,
        "wires": []
    },
    {
        "id": "36b3cab716113dc1",
        "type": "fd-markdown",
        "z": "78e87a53dc54c282",
        "g": "ef4ab775926fc4f6",
        "fd_container": "07754d0209ed5794",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "co_signer3",
        "title": "co_signer3",
        "popup_info": "",
        "text": "",
        "x": 1510,
        "y": 540,
        "wires": []
    },
    {
        "id": "9fd033057daee3f5",
        "type": "fd-push-button",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "fd_container": "07754d0209ed5794",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "fd_output_topic": "",
        "fd_loopback": false,
        "name": "keygen開始",
        "title": "keygen開始",
        "popup_info": "",
        "enabled": true,
        "color": "red-lighten-3",
        "output_value": "keygen start",
        "icon": null,
        "x": 170,
        "y": 640,
        "wires": [
            [
                "3f5fcff4e03feeec",
                "80eef4c3e159d23c",
                "6f9cc97481078329",
                "085d01496ffe2681"
            ]
        ]
    },
    {
        "id": "8587581cf97d9995",
        "type": "fd-push-button",
        "z": "78e87a53dc54c282",
        "g": "f561b36c3ad24bbb",
        "fd_container": "07754d0209ed5794",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "fd_output_topic": "",
        "fd_loopback": false,
        "name": "queuesクリア",
        "title": "queuesクリア",
        "popup_info": "",
        "enabled": true,
        "color": "green-lighten-3",
        "output_value": "queues clear",
        "icon": null,
        "x": 180,
        "y": 440,
        "wires": [
            [
                "dd46d187bcb55aa3"
            ]
        ]
    },
    {
        "id": "58f0d967d7808bb8",
        "type": "fd-push-button",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "fd_container": "3c1736edec4719b4",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "fd_output_topic": "",
        "fd_loopback": false,
        "name": "1と2で署名",
        "title": "1と2で署名",
        "popup_info": "",
        "enabled": true,
        "color": "orange-lighten-3",
        "output_value": "sign start",
        "icon": null,
        "x": 170,
        "y": 1140,
        "wires": [
            [
                "41214208254c7a48"
            ]
        ]
    },
    {
        "id": "f80db642637ced35",
        "type": "fd-push-button",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "fd_container": "3c1736edec4719b4",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "fd_output_topic": "",
        "fd_loopback": false,
        "name": "2と3で署名",
        "title": "2と3で署名",
        "popup_info": "",
        "enabled": true,
        "color": "orange-lighten-3",
        "output_value": "sign start",
        "icon": null,
        "x": 170,
        "y": 1220,
        "wires": [
            [
                "0ee16d74d17ab2a4"
            ]
        ]
    },
    {
        "id": "fe147f66fea730ba",
        "type": "fd-push-button",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "fd_container": "3c1736edec4719b4",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "fd_output_topic": "",
        "fd_loopback": false,
        "name": "1と3で署名",
        "title": "1と3で署名",
        "popup_info": "",
        "enabled": true,
        "color": "orange-lighten-3",
        "output_value": "sign start",
        "icon": null,
        "x": 170,
        "y": 1300,
        "wires": [
            [
                "0970648e6f8c167f"
            ]
        ]
    },
    {
        "id": "ea942bac94d5f3fe",
        "type": "fd-push-button",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "fd_container": "3c1736edec4719b4",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "fd_output_topic": "",
        "fd_loopback": false,
        "name": "全員で署名",
        "title": "全員で署名",
        "popup_info": "",
        "enabled": true,
        "color": "orange-lighten-3",
        "output_value": "sign start",
        "icon": null,
        "x": 170,
        "y": 1380,
        "wires": [
            [
                "6456fc89208039cd"
            ]
        ]
    },
    {
        "id": "30a9f3ef2558dfb5",
        "type": "fd-push-button",
        "z": "78e87a53dc54c282",
        "g": "66b98e18861aa2ce",
        "fd_container": "07754d0209ed5794",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "fd_output_topic": "",
        "fd_loopback": false,
        "name": "refresh開始",
        "title": "refresh開始",
        "popup_info": "",
        "enabled": true,
        "color": "yellow-accent-3",
        "output_value": "refresh start",
        "icon": null,
        "x": 170,
        "y": 1980,
        "wires": [
            [
                "b6f0f2cd56211a4a",
                "c697f76531ee2eea"
            ]
        ]
    },
    {
        "id": "254882f2d66d5671",
        "type": "fd-simple-table",
        "z": "78e87a53dc54c282",
        "g": "de63834e9e784ee4",
        "fd_container": "07754d0209ed5794",
        "fd_cols": "7",
        "fd_rows": "5",
        "fd_array": false,
        "fd_array_max": 10,
        "fd_output_topic": "",
        "fd_loopback": false,
        "name": "",
        "title": "Simple Table",
        "popup_info": "",
        "data": null,
        "columns": [
            "round",
            "src",
            "dest",
            "type",
            "data"
        ],
        "labels": null,
        "align": null,
        "click": null,
        "sort": true,
        "x": 1430,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d0c5787765ce4d7f",
        "type": "inject",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "署名検証",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1700,
        "wires": [
            [
                "eb74f3b0c38654c1"
            ]
        ]
    },
    {
        "id": "eb74f3b0c38654c1",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "署名検証",
        "func": "// const elliptic = require('elliptic');\n// const crypto = require('crypto');\nconst ec = new elliptic.ec('secp256k1');\n\n// フロー変数から署名を取り出す\nconst signature_r = flow.get(\"signature_r\");\nconst signature_s = flow.get(\"signature_s\");\n\n// フロー変数から公開鍵を取り出す\nconst pubX = flow.get(\"pubX\");\nconst pubY = flow.get(\"pubY\");\n\n// const originalData = \"0123456789abcdef\";\nconst originalData = flow.get(\"originalData\");\n\n// 2. 元データのハッシュを計算する\nconst msgHash = crypto.createHash('sha256').update(originalData).digest();\n// const msgHash = originalData;\n\n// 3. 署名データと公開鍵をセット\nconst pubKey = { x: pubX, y: pubY };\n// const signature = { r: msg.payload.signature.r, s: msg.payload.signature.s };\nconst signature = { r: signature_r, s: signature_s };\n\ntry {\n    const key = ec.keyFromPublic(pubKey, 'hex');\n    \n    // 4. 計算したハッシュを使って署名を検証\n    const isValid = key.verify(msgHash, signature);\n    \n    msg.payload = {\n        isValid: isValid, // これが true なら「元データ」は1文字も改ざんされていない！\n        verifiedHash: msgHash.toString('hex')\n        // verifiedHash: msgHash\n    };\n} catch (e) {\n    node.error(e.message);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "elliptic",
                "module": "elliptic"
            },
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 440,
        "y": 1700,
        "wires": [
            [
                "842df40a404728a6",
                "8af2ad57a22cbdae"
            ]
        ]
    },
    {
        "id": "bd169e87f4987010",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "signature格納",
        "rules": [
            {
                "t": "set",
                "p": "signature_r",
                "pt": "flow",
                "to": "payload.signature.r",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "signature_s",
                "pt": "flow",
                "to": "payload.signature.s",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 1640,
        "wires": [
            [
                "a71579a20eeca9ee"
            ]
        ]
    },
    {
        "id": "842df40a404728a6",
        "type": "debug",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1740,
        "wires": []
    },
    {
        "id": "f6045d6b5e8a9d27",
        "type": "fd-push-button",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "fd_container": "d2283aa68f0fc77c",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "fd_output_topic": "",
        "fd_loopback": false,
        "name": "署名検証",
        "title": "署名検証",
        "popup_info": "",
        "enabled": true,
        "color": "orange-darken-3",
        "output_value": 25,
        "icon": null,
        "x": 160,
        "y": 1740,
        "wires": [
            [
                "eb74f3b0c38654c1"
            ]
        ]
    },
    {
        "id": "2e07524498ce16b9",
        "type": "fd-text-view",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "fd_container": "d2283aa68f0fc77c",
        "fd_cols": "6",
        "fd_rows": "2",
        "fd_array": false,
        "fd_array_max": 10,
        "fd_output_topic": "",
        "fd_loopback": false,
        "name": "署名データ",
        "title": "署名データ",
        "popup_info": "",
        "text": "",
        "editable": false,
        "wrap": false,
        "autoscroll": true,
        "x": 650,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "7ed691540aae3307",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "署名データ整形",
        "func": "// 1. 現在の日時をフォーマット (2026-03-28 17:00:44)\nconst now = new Date();\nconst pad = (n) => n.toString().padStart(2, '0');\nconst timestamp = `${now.getFullYear()}-${pad(now.getMonth() + 1)}-${pad(now.getDate())} ${pad(now.getHours())}:${pad(now.getMinutes())}:${pad(now.getSeconds())}`;\n\nconst party_id = msg.payload.party_id;\nconst signature_r = msg.payload.signature.r;\nconst signature_s = msg.payload.signature.s;\n\n// 文字列を整形\nconst signature = `${party_id} r: ${signature_r.substring(0, 10)}..., s: ${signature_s.substring(0, 10)}...`;\n\n// 2. 1行分のログエントリーを作成\nconst logEntry = `${timestamp} ${signature}`;\n\n// 3. フロー変数から既存のログ配列を取得（なければ空配列 []）\nlet logHistory = flow.get(\"logHistory\");\nif (!Array.isArray(logHistory)) {\n    logHistory = [];\n}\n\n// 4. 新しいログを【末尾】に追加 (これにより昇順になる)\nlogHistory.push(logEntry);\n\n// 5. 20件を超えた場合、【先頭（一番古いもの）】を削除\nif (logHistory.length > 20) {\n    logHistory.shift();\n}\n\n// 6. 蓄積した配列をフロー変数に保存\nflow.set(\"logHistory\", logHistory);\n\n// 7. 表示用に改行で結合して出力\nmsg.payload = logHistory.join(\"\\n\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1480,
        "wires": [
            [
                "2e07524498ce16b9"
            ]
        ]
    },
    {
        "id": "4771e7833d93de37",
        "type": "fd-stat",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "fd_container": "d2283aa68f0fc77c",
        "fd_cols": 1,
        "fd_rows": 1,
        "fd_array": false,
        "fd_array_max": 10,
        "name": "検証結果",
        "title": "検証結果",
        "popup_info": "",
        "unit": "",
        "value": null,
        "color": "",
        "low_color": "blue",
        "high_color": "pink",
        "low_threshold": null,
        "high_threshold": null,
        "low_regexp": "OK",
        "high_regexp": "NG",
        "chip": false,
        "iso_prefix": true,
        "precision": 3,
        "zoom": 1,
        "x": 880,
        "y": 1700,
        "wires": []
    },
    {
        "id": "8af2ad57a22cbdae",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "検証結果変換",
        "func": "msg.payload = msg.payload.isValid ? \"OK\" : \"NG\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1700,
        "wires": [
            [
                "4771e7833d93de37"
            ]
        ]
    },
    {
        "id": "a71579a20eeca9ee",
        "type": "change",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "検証結果クリア",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1640,
        "wires": [
            [
                "4771e7833d93de37"
            ]
        ]
    },
    {
        "id": "a84bf8f06c21aa35",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "name": "署名データ整形",
        "func": "// 1. 現在の日時をフォーマット (2026-03-28 17:00:44)\nconst now = new Date();\nconst pad = (n) => n.toString().padStart(2, '0');\nconst timestamp = `${now.getFullYear()}-${pad(now.getMonth() + 1)}-${pad(now.getDate())} ${pad(now.getHours())}:${pad(now.getMinutes())}:${pad(now.getSeconds())}`;\n\nconst party_id = msg.payload.party_id;\nconst pubX = msg.payload.public_key.x;\nconst pubY = msg.payload.public_key.y;\n\n// 文字列を整形\nconst pubkey = `${party_id} x: ${pubX.substring(0, 10)}..., y: ${pubY.substring(0, 10)}...`;\n\n// 2. 1行分のログエントリーを作成\nconst logEntry = `${timestamp} ${pubkey}`;\n\n// 3. フロー変数から既存のログ配列を取得（なければ空配列 []）\nlet pubkeyHistory = flow.get(\"pubkeyHistory\");\nif (!Array.isArray(pubkeyHistory)) {\n    pubkeyHistory = [];\n}\n\n// 4. 新しいログを【末尾】に追加 (これにより昇順になる)\npubkeyHistory.push(logEntry);\n\n// 5. 20件を超えた場合、【先頭（一番古いもの）】を削除\nif (pubkeyHistory.length > 20) {\n    pubkeyHistory.shift();\n}\n\n// 6. 蓄積した配列をフロー変数に保存\nflow.set(\"pubkeyHistory\", pubkeyHistory);\n\n// 7. 表示用に改行で結合して出力\nmsg.payload = pubkeyHistory.join(\"\\n\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 920,
        "wires": [
            [
                "c396833a74617a24"
            ]
        ]
    },
    {
        "id": "c396833a74617a24",
        "type": "fd-text-view",
        "z": "78e87a53dc54c282",
        "g": "98ca0d7de880cf3d",
        "fd_container": "d2283aa68f0fc77c",
        "fd_cols": "6",
        "fd_rows": "2",
        "fd_array": false,
        "fd_array_max": 10,
        "fd_output_topic": "",
        "fd_loopback": false,
        "name": "公開鍵",
        "title": "公開鍵",
        "popup_info": "",
        "text": "",
        "editable": false,
        "wrap": false,
        "autoscroll": true,
        "x": 390,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "d487f54d623ab8f3",
        "type": "inject",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "1だけで署名",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 530,
        "y": 1080,
        "wires": [
            [
                "96d5d39413cc487d"
            ]
        ]
    },
    {
        "id": "96d5d39413cc487d",
        "type": "function",
        "z": "78e87a53dc54c282",
        "g": "7ad4673449f588d3",
        "name": "1 のみ",
        "func": "// const crypto = require('crypto');\n\nconst originalData = flow.get(\"originalData\");\n\n// 2. 元データのハッシュを計算する\nconst msgHash = crypto.createHash('sha256').update(originalData).digest('hex');\n\nmsg.payload = {\n    hash: msgHash,\n    participants: [\"co_signer1\"]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 710,
        "y": 1080,
        "wires": [
            [
                "0fdb9cdf50e5722a"
            ]
        ]
    },
    {
        "id": "07754d0209ed5794",
        "type": "flexdash container",
        "name": "grid01",
        "kind": "StdGrid",
        "fd_children": ",9fd033057daee3f5,30a9f3ef2558dfb5,8587581cf97d9995,da99607af085ae19,43d56c19a72f40f6,36b3cab716113dc1,3c1736edec4719b4,d2283aa68f0fc77c,415b3bd72fc0467d,254882f2d66d5671",
        "tab": "8bebae89ddc68f86",
        "min_cols": 1,
        "max_cols": 10,
        "unicast": "ignore",
        "parent": "",
        "solid": false,
        "cols": 1,
        "rows": 1
    },
    {
        "id": "3c1736edec4719b4",
        "type": "flexdash container",
        "name": "sign_panel",
        "title": "",
        "kind": "Panel",
        "fd_children": ",6b14a5afe2f8745d,ea942bac94d5f3fe,58f0d967d7808bb8,f80db642637ced35,fe147f66fea730ba",
        "tab": "",
        "min_cols": 1,
        "max_cols": 20,
        "unicast": "ignore",
        "parent": "07754d0209ed5794",
        "solid": false,
        "cols": 7,
        "rows": 2
    },
    {
        "id": "d2283aa68f0fc77c",
        "type": "flexdash container",
        "name": "verify_panel",
        "title": "",
        "kind": "Panel",
        "fd_children": ",c396833a74617a24,2e07524498ce16b9,f6045d6b5e8a9d27,4771e7833d93de37",
        "tab": "",
        "min_cols": 1,
        "max_cols": 20,
        "unicast": "ignore",
        "parent": "07754d0209ed5794",
        "solid": false,
        "cols": 7,
        "rows": 2
    },
    {
        "id": "8bebae89ddc68f86",
        "type": "flexdash tab",
        "name": "tab01",
        "icon": "mdi-cat",
        "title": "mpc-tss-trial",
        "fd_children": ",07754d0209ed5794",
        "fd": "e8f5aea52ab49500"
    },
    {
        "id": "ba684eddb4f174d3",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flexdash/node-red-flexdash": "0.4.154",
            "@flexdash/node-red-fd-corewidgets": "0.4.64"
        }
    }
]