Node-RED-flow/flows.json
[
    {
        "id": "4c963a02fb73f5a2",
        "type": "tab",
        "label": "mpc-tss-trial",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93dd61cb3922f48e",
        "type": "http in",
        "z": "4c963a02fb73f5a2",
        "name": "",
        "url": "/mpc/send",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "0fea95ac094e63a0",
                "b4b6a2b315544e2b"
            ]
        ]
    },
    {
        "id": "0fea95ac094e63a0",
        "type": "function",
        "z": "4c963a02fb73f5a2",
        "name": "Store Message",
        "func": "// フローにキューを保持\nlet queues = flow.get(\"queues\") || {};\n\nlet msgBody = msg.payload;\nlet dest = msgBody.dest;\n\nif(!queues[dest]){\n    queues[dest] = [];\n}\nqueues[dest].push(msgBody);\nflow.set(\"queues\", queues);\n\nmsg.payload = {status: \"ok\"};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 80,
        "wires": [
            [
                "7ac1ab26d3d25780"
            ]
        ]
    },
    {
        "id": "7ac1ab26d3d25780",
        "type": "http response",
        "z": "4c963a02fb73f5a2",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "32125b81868f84f2",
        "type": "http in",
        "z": "4c963a02fb73f5a2",
        "name": "",
        "url": "/mpc/recv/:party_id",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "7c3df229ca693a90",
                "a2a7456fd0b3fedc"
            ]
        ]
    },
    {
        "id": "7c3df229ca693a90",
        "type": "function",
        "z": "4c963a02fb73f5a2",
        "name": "Retrieve Messages",
        "func": "let queues = flow.get(\"queues\") || {};\nlet party_id = msg.req.params.party_id;\n\nlet msgs = queues[party_id] || [];\n// queues[party_id] = [];\n// flow.set(\"queues\", queues);\n\nmsg.payload = msgs;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "47119ec2a3f97a4c"
            ]
        ]
    },
    {
        "id": "47119ec2a3f97a4c",
        "type": "http response",
        "z": "4c963a02fb73f5a2",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "a2a7456fd0b3fedc",
        "type": "debug",
        "z": "4c963a02fb73f5a2",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "b4b6a2b315544e2b",
        "type": "debug",
        "z": "4c963a02fb73f5a2",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "d97740a09852dcbc",
        "type": "inject",
        "z": "4c963a02fb73f5a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "b92599b9ce0a07d7",
                "f89201f5553b9cd4",
                "9aca62473b293c83"
            ]
        ]
    },
    {
        "id": "b92599b9ce0a07d7",
        "type": "http request",
        "z": "4c963a02fb73f5a2",
        "name": "http://localhost:8081/mpc/keygen",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8081/mpc/keygen",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 440,
        "y": 380,
        "wires": [
            [
                "a29216a964300ccc"
            ]
        ]
    },
    {
        "id": "a29216a964300ccc",
        "type": "debug",
        "z": "4c963a02fb73f5a2",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "f89201f5553b9cd4",
        "type": "http request",
        "z": "4c963a02fb73f5a2",
        "name": "http://localhost:8082/mpc/keygen",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/mpc/keygen",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 440,
        "y": 420,
        "wires": [
            [
                "a29216a964300ccc"
            ]
        ]
    },
    {
        "id": "9aca62473b293c83",
        "type": "http request",
        "z": "4c963a02fb73f5a2",
        "name": "http://localhost:8083/mpc/keygen",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8083/mpc/keygen",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 440,
        "y": 460,
        "wires": [
            [
                "a29216a964300ccc"
            ]
        ]
    },
    {
        "id": "96a887ed9bc449bc",
        "type": "http in",
        "z": "4c963a02fb73f5a2",
        "name": "",
        "url": "/mpc/keygen_result",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "341fcd4f9ee2a8c9",
                "14b651e02867add8"
            ]
        ]
    },
    {
        "id": "341fcd4f9ee2a8c9",
        "type": "http response",
        "z": "4c963a02fb73f5a2",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 420,
        "y": 520,
        "wires": []
    },
    {
        "id": "492d8e8691050c96",
        "type": "debug",
        "z": "4c963a02fb73f5a2",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 560,
        "wires": []
    },
    {
        "id": "9711d0c96864bb8d",
        "type": "inject",
        "z": "4c963a02fb73f5a2",
        "name": "1 & 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"hash\":\"0123456789abcdef\",\"participants\":[\"co_signer1\",\"co_signer2\"]}",
        "payloadType": "json",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "a437e4be95473099",
                "b97a68b5d003d9c2"
            ]
        ]
    },
    {
        "id": "9094f831eee97ed6",
        "type": "http request",
        "z": "4c963a02fb73f5a2",
        "name": "http://localhost:8081/mpc/sign",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8081/mpc/sign",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 660,
        "wires": [
            [
                "18eb015d58354d84"
            ]
        ]
    },
    {
        "id": "18eb015d58354d84",
        "type": "debug",
        "z": "4c963a02fb73f5a2",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 700,
        "wires": []
    },
    {
        "id": "f5d143c59ae12f02",
        "type": "http request",
        "z": "4c963a02fb73f5a2",
        "name": "http://localhost:8082/mpc/sign",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/mpc/sign",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 700,
        "wires": [
            [
                "18eb015d58354d84"
            ]
        ]
    },
    {
        "id": "b83a995d56cd315b",
        "type": "http request",
        "z": "4c963a02fb73f5a2",
        "name": "http://localhost:8083/mpc/sign",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8083/mpc/sign",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 740,
        "wires": [
            [
                "18eb015d58354d84"
            ]
        ]
    },
    {
        "id": "520b79feae9feb9d",
        "type": "inject",
        "z": "4c963a02fb73f5a2",
        "name": "2 & 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"hash\":\"0123456789abcdef\",\"participants\":[\"co_signer2\",\"co_signer3\"]}",
        "payloadType": "json",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "b97a68b5d003d9c2",
                "1926a8a794e9d45d"
            ]
        ]
    },
    {
        "id": "9e74ad66231b2202",
        "type": "inject",
        "z": "4c963a02fb73f5a2",
        "name": "1 & 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"hash\":\"0123456789abcdef\",\"participants\":[\"co_signer1\",\"co_signer3\"]}",
        "payloadType": "json",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "a437e4be95473099",
                "1926a8a794e9d45d"
            ]
        ]
    },
    {
        "id": "07a0cf5347f67723",
        "type": "inject",
        "z": "4c963a02fb73f5a2",
        "name": "全員",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"hash\":\"0123456789abcdef\",\"participants\":[\"co_signer1\",\"co_signer2\",\"co_signer3\"]}",
        "payloadType": "json",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "a437e4be95473099",
                "b97a68b5d003d9c2",
                "1926a8a794e9d45d"
            ]
        ]
    },
    {
        "id": "6bc3082fc8972b4c",
        "type": "http in",
        "z": "4c963a02fb73f5a2",
        "name": "",
        "url": "/mpc/sign_result",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 840,
        "wires": [
            [
                "f6af93d4aecb9015",
                "c5de036741ea4b62"
            ]
        ]
    },
    {
        "id": "f6af93d4aecb9015",
        "type": "http response",
        "z": "4c963a02fb73f5a2",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 400,
        "y": 840,
        "wires": []
    },
    {
        "id": "d1d12fabef1e47b5",
        "type": "debug",
        "z": "4c963a02fb73f5a2",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 880,
        "wires": []
    },
    {
        "id": "e295bdeb4158319f",
        "type": "function",
        "z": "4c963a02fb73f5a2",
        "name": "queues clear",
        "func": "flow.set('queues', { 'co_signer1': [], 'co_signer2': [], 'co_signer3': [] });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [
            [
                "c969206208dd30e9"
            ]
        ]
    },
    {
        "id": "c969206208dd30e9",
        "type": "debug",
        "z": "4c963a02fb73f5a2",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "9e21b5f23a8bea7a",
        "type": "inject",
        "z": "4c963a02fb73f5a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "e295bdeb4158319f"
            ]
        ]
    },
    {
        "id": "c5de036741ea4b62",
        "type": "function",
        "z": "4c963a02fb73f5a2",
        "name": "署名検証",
        "func": "// const elliptic = require('elliptic');\n// const crypto = require('crypto');\nconst ec = new elliptic.ec('secp256k1');\n\n// フロー変数から公開鍵を取り出す\nconst pubX = flow.get(\"pubX\");\nconst pubY = flow.get(\"pubY\");\n\nconst originalData = \"0123456789abcdef\";\n// const originalData = flow.get(\"originalData\");\n\n// 2. 元データのハッシュを計算する\n// const msgHash = crypto.createHash('sha256').update(originalData).digest();\nconst msgHash = originalData;\n\n// 3. 署名データと公開鍵をセット\nconst pubKey = { x: pubX, y: pubY };\nconst signature = { r: msg.payload.signature.r, s: msg.payload.signature.s };\n\ntry {\n    const key = ec.keyFromPublic(pubKey, 'hex');\n    \n    // 4. 計算したハッシュを使って署名を検証\n    const isValid = key.verify(msgHash, signature);\n    \n    msg.payload = {\n        isValid: isValid, // これが true なら「元データ」は1文字も改ざんされていない！\n        // verifiedHash: msgHash.toString('hex')\n        verifiedHash: msgHash\n    };\n} catch (e) {\n    node.error(e.message);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "elliptic",
                "module": "elliptic"
            },
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 400,
        "y": 880,
        "wires": [
            [
                "d1d12fabef1e47b5"
            ]
        ]
    },
    {
        "id": "14b651e02867add8",
        "type": "change",
        "z": "4c963a02fb73f5a2",
        "name": "pubkey格納",
        "rules": [
            {
                "t": "set",
                "p": "pubX",
                "pt": "flow",
                "to": "payload.public_key.x",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "pubY",
                "pt": "flow",
                "to": "payload.public_key.y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 560,
        "wires": [
            [
                "492d8e8691050c96"
            ]
        ]
    },
    {
        "id": "a437e4be95473099",
        "type": "function",
        "z": "4c963a02fb73f5a2",
        "name": "co_signer1",
        "func": "msg.payload.party_id = \"co_signer1\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 660,
        "wires": [
            [
                "9094f831eee97ed6"
            ]
        ]
    },
    {
        "id": "b97a68b5d003d9c2",
        "type": "function",
        "z": "4c963a02fb73f5a2",
        "name": "co_signer2",
        "func": "msg.payload.party_id = \"co_signer2\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 700,
        "wires": [
            [
                "f5d143c59ae12f02"
            ]
        ]
    },
    {
        "id": "1926a8a794e9d45d",
        "type": "function",
        "z": "4c963a02fb73f5a2",
        "name": "co_signer3",
        "func": "msg.payload.party_id = \"co_signer3\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 740,
        "wires": [
            [
                "b83a995d56cd315b"
            ]
        ]
    },
    {
        "id": "73c82cbb1184169a",
        "type": "http request",
        "z": "4c963a02fb73f5a2",
        "name": "http://localhost:8081/mpc/refresh",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8081/mpc/refresh",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 980,
        "wires": [
            [
                "8a393945f2e0b80f"
            ]
        ]
    },
    {
        "id": "8a393945f2e0b80f",
        "type": "debug",
        "z": "4c963a02fb73f5a2",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1020,
        "wires": []
    },
    {
        "id": "cf3f4618ee4d13f9",
        "type": "inject",
        "z": "4c963a02fb73f5a2",
        "name": "refresh by All",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"participants\":[\"co_signer1\",\"co_signer2\",\"co_signer3\"]}",
        "payloadType": "json",
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "73c82cbb1184169a",
                "487dbaf9a1a998fd",
                "c0bebce7d04ee18b"
            ]
        ]
    },
    {
        "id": "487dbaf9a1a998fd",
        "type": "http request",
        "z": "4c963a02fb73f5a2",
        "name": "http://localhost:8082/mpc/refresh",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/mpc/refresh",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 1020,
        "wires": [
            [
                "8a393945f2e0b80f"
            ]
        ]
    },
    {
        "id": "c0bebce7d04ee18b",
        "type": "http request",
        "z": "4c963a02fb73f5a2",
        "name": "http://localhost:8083/mpc/refresh",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8083/mpc/refresh",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 1060,
        "wires": [
            [
                "8a393945f2e0b80f"
            ]
        ]
    },
    {
        "id": "76604dd0308f0606",
        "type": "comment",
        "z": "4c963a02fb73f5a2",
        "name": "メッセージ連携",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "8f608c2899177750",
        "type": "comment",
        "z": "4c963a02fb73f5a2",
        "name": "keygen",
        "info": "",
        "x": 70,
        "y": 340,
        "wires": []
    },
    {
        "id": "c8f849926e38525e",
        "type": "comment",
        "z": "4c963a02fb73f5a2",
        "name": "sign",
        "info": "",
        "x": 70,
        "y": 620,
        "wires": []
    },
    {
        "id": "6fa7458c4b82eb15",
        "type": "comment",
        "z": "4c963a02fb73f5a2",
        "name": "refresh",
        "info": "",
        "x": 70,
        "y": 940,
        "wires": []
    }
]